
**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules

# Playwright E2E test artifacts
/playwright-report/
/playwright/.cache/
/test-results/
